<div class="parallax-container">
    <div class="parallax valign-wrapper animated fadeInLeft"><h1>FAMILY</h1></div>
  </div>
  <div class="section grey darken-4">
    <div class="row container">
        <div class="carousel carousel-slider">
          <a class="carousel-item" ><img src="assets/img/family/07.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/family/02.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/family/03.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/family/04.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/family/05.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/family/06.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/family/01.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/family/08.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/family/09.jpg"></a>
        </div>
    </div>
  </div>
  <div class="parallax-container">
    <div id="second" style="visibility: hidden;" class="parallax valign-wrapper animated"><h1>BEST FRIEND</h1></div>
  </div>
  <div class="section grey darken-4">
    <div class="row container">
        <div class="carousel carousel-slider">
          <a class="carousel-item" ><img src="assets/img/friend/01.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/02.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/03.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/04.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/05.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/06.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/07.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/08.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/09.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/10.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/11.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/12.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/13.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/14.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/15.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/16.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/17.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/18.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/20.jpg"></a>
          <a class="carousel-item" ><img src="assets/img/friend/22.jpg"></a>
        </div>
    </div>
  </div>
