<div class="parallax-container">
  <div class="parallax"><img src="assets/img/me/05.jpg"></div>
</div>
<div class="section white">
  <div class="row container  animated fadeInLeft">
    <div class="col s12 m12 l9 xl10">
        <h2 class="header hide-on-med-and-down">I'm Thanaphon Toprasit</h2>
        <h4 class="header hide-on-large-only">I'm Thanaphon Toprasit</h4>
        <p class="grey-text text-darken-3 lighten-3">You can call me " Geng "</p>
        <p class="grey-text text-darken-1 lighten-3">A little boy who will be the developer</p>
    </div>
    <div class="col s12 m12 l3 xl2 center">
        <img class="z-depth-3 circle hide-on-med-and-down" src="assets/logo/script_logo.png" width="150%">
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="assets/img/me/02.jpg"></div>
</div>
<div class="section white">
  <div id="second" class="row container animated" style="visibility:hidden">
      <div class="col s12 m12 l3 xl3">
          <img class="z-depth-3 circle hide-on-med-and-down" src="assets/logo/script_logo.png" width="100%">
      </div>
      <div class="col s12 m12 l1 xl2"></div>
      <div  class="col s12 m12 l8 xl7">
          <h3 class="header hide-on-med-and-down">สวัสดีครับ ผมชื่อเก่ง</h3>
          <h4 class="header hide-on-large-only">สวัสดีครับ ผมชื่อเก่ง</h4>
          <!-- <h5 class="header hide-on-med-and-down">หลายคนอาจเรียกว่า "ท่อ" เพราะนามสกุลผมนั้นเอง</h5>
          <h6  class="hide-on-large-only">หลายคนอาจเรียกว่า "ท่อ" เพราะนามสกุลผมนั้นเอง</h6> -->
          <p class="grey-text text-darken-3 lighten-3">เป็นคนง่ายๆ สบายๆ จริงจังกับสิ่งที่ทำ</p>
          <p class="grey-text text-darken-1 lighten-3">ปัจจุบันยังคงเป็นเด็กน้อยที่คอยหัดเขียนโปรแกรมอยู่</p>
      </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="assets/img/me/03.jpg"></div>
</div>
<div class="section white">
  <div id="third" class="row container center animated" style="visibility:hidden">
    <h3 class="header hide-on-med-and-down">ฝากตัวด้วยนะครับ</h3>
    <h4 class="header hide-on-large-only">ฝากตัวด้วยนะครับ</h4>
    <p class="grey-text text-darken-3 lighten-3">หากมีอะไรสามารถติดต่อเข้ามาได้เลยคร้าบบบบบ</p>
    <div class="center">
      <a class="btn grey darken-1 modal-trigger" href="#modal1"><i class="material-icons">call_end</i></a>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="assets/img/me/08.jpg"></div>
</div>